.Rproj.user/
.Rhistory
.RData
.ds_store
*.DS_Store
*.Rproj
.vscode
inst/doc
inst/python/*.pyc
inst/python/__pycache__/*
vignettes/*.html
vignettes/*.R
inst/data/genocodeshortened.v33.annotation.gff3
inst/data/GRCh38short.primary_assembly.genome.fa
inst/data/align2genome.sample.fastq.gz
inst/data/trimgff.py
doc
Meta
/doc/
/Meta/
R/shortisoformtest.R
vignettes/.build.timestamp
**/*.log
vignettes/FLAMES_vignette.md
**/.smbdelete*
**/#.tmp